.price{
	padding-top:10px;
}

.productname{
	height:56px;
}

.thumbnail{
	height: 386.500px; 
	max-width: 210px;
}

body{
	padding-top: 70px;
}

.clickable{
	cursor: pointer;
}

#carContent{
	position: absolute; 
	width:600px; 
	left:0px; 
	top:0px;"
}